.title {
    text-align: center;

    .main {
        font-weight: bold;
    }
    .subtitle {
        font-style: italic;
    }
}

.underlined-heading {
    text-decoration: underline;
}

.description {
    color: var(--front-high);
    font-size: small;

    a {
        color: var(--front-high);
        text-decoration: underline;
    }
}
.italic {
    font-style: italic;
}
.add-button {
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: x-large;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.screenshot {
    margin-bottom: 20px;
    img {
        width: 40%;
    }
}