.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--back-high);
    color: var(--front);
    box-shadow: 0 0 10px var(--back-high);
    margin-bottom: 20px;

    transition: 0.2s;
}
.spacer {
    height: 100px;
    transition: height 0.3s;

    &.expanded {
        @media (max-width: 767.9999px) {
            height: 420px;
        }
    }
}
.nav-link {
    padding: 20px;
    margin: 0 10px;
}
.nav-link {
    color: var(--front-mid);
    transition: 0.2s;

    text-decoration: underline;
    text-decoration-color: var(--back-high);
}
.nav-link:hover {
    color: var(--mid);
    transition: 0.2s;
}
.nav-item.active>.nav-link {
    color: var(--front);

    text-decoration-color: var(--front);

    text-shadow:
    -1px -1px 5px var(--back-low),
    1px -1px 5px var(--back-low),
    -1px 1px 5px var(--back-low),
    1px 1px 5px var(--back-low);

    padding: 20px;
    transition: 0.2s;
}
.nav-item.active>.nav-link:hover {
    color: var(--front);
    transition: 0.2s;
}

.navbar-toggler {
    transition: 0.2s;

    &.dark {
        filter: invert(0);
    }
    &.light {
        filter: invert(1);
    }
}
a>.logo {
    //border-radius: 100%;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    filter: brightness(1) drop-shadow(0 0 5px black);
}
a:hover>.logo {
    transition: 0.2s;
    transform: scale(1.25) rotate(10deg);
    filter: brightness(1.25) drop-shadow(0 0 5px var(--mid));
}

.notice {
    color: var(--back-low);
    font-size: small;
}
.notice>a {
    color: var(--back-low);
    text-decoration: underline;
    text-decoration-color: var(--back-low);
    transition: 0.2s;
}
.notice>a:hover {
    color: var(--link-hover);
    text-decoration-color: var(--link-hover);
    transition: 0.2s;
}
