code {
   color: var(--front-mid);
}

.required {
    &::before {
        content: '*';
    }
    
    color: red;
    font-weight: bold;

    //border: 1px solid red;
    //border-radius: 1px;
}
.default-value {
    &::before {
        content: ': ';
        font-style: normal;
    }
    
    color: #808080;
    font-style: italic;
}

.text-warning.light-theme { 
    color: #c08000 !important;
}

.question-type {
    font-style: italic;

    &.suggested {
        &::before {
            content: '🟥';
            font-style: normal;
        }
    }
    &.accepted {
        &::before {
            content: '🔷';
            font-style: normal;
        }
    }
    &.sent {
        &::before {
            content: '🟢';
            font-style: normal;
        }
    }
    &.stashed {
        &::before {
            content: '✖️';
            font-style: normal;
        }
    }
}